* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding: 0% 0% 0% 0%;
}

body {
    margin: 0;
    /* padding: 0; */
    padding: 20px 20px 10px 20px;

    
}

/* body {
    background-color: white;
    padding: 20px 40px 10px 50px;
} */

.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .7);
    background-image: url("image/pexels-oleg-magni-861311.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.web-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(66, 33, 33);
}

.web-name-large {
font-size: 7em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: monospace;
    font-weight: normal;
    color: rosybrown;
    text-align: center;
    font-size: 2.5em;
}

.about-web-image {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}

.about-web-image2 {
    float: right;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}








/* header */
/* 
header {
    padding: 20px;
    height: 280px;
    background-color: black;
    background-size: 100%;
    text-align: center;
    background-position: center;
    background-image: url("images/sa1.jpg");
    background-repeat: no-repeat;
} */
/* 
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
} */

/* header .logo a {
    background-image: url("images/logoo.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    top: 0px;
    width: 100px;
    text-indent: -9999999px;
} */

/* ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
} */


/* li {
    display: inline-block;
    /* background-color: burlywood; */
    /* border-radius: 3px; */
    /* padding: 2px; */
    /* margin-left: 20px; */
/* } */ */
/* li:hover {
    background-color: red;
} */

/* a {
    text-decoration: none;
} */

/* a:hover {
    text-decoration: underline;
} */


/* footer */

footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}
