
/* header */

.main {
    display: block;
    /* background-color: burlywood; */
    background-size: 30%;
    padding: 10px;
    height: 50px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}


/* images */

.images {
background-color: white;
color: gray;
padding: 20px;
display: flex;
flex-direction: row;
}


.images figure {
    /* background: red; */
    /* display: inline-block; */
    width: 200px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}
.images figure img {
    border: 1px solid white;
    border-radius: 50%;
    width: 200px;
    box-shadow: gray 0 0 10px;
}


.image-bottom {
    background-color: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    }
    
    
    .image-bottom figure {
        /* background: red; */
        /* display: inline-block; */
        width: 200px;
        /* height: 200px; */
        margin: auto;
        text-transform: uppercase;
        text-align: center;
    }
    .image-bottom figure img {
        border: 1px solid white;
        border-radius: 50%;
        width: 200px;
        box-shadow: gray 0 0 10px;
    }
    

/* confused */

.box {
    display: flex;
    /* to use the box u have to use this */
    color: black;
    background-color: rgb(229, 240, 248);
    font-size: 20px;
    font-family: cursive;
    text-align: center; 
    /* align the text inside the box */
    padding: 15px;
    margin: auto;
    /* width: 33.3%; */
}


/* footer */

footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}


